<style type="text/css">
    .suspicious_pages {
        overflow: hidden;
        padding-bottom: 30px;
    }

    .search-sub-title-txt {
        background: #f5f5f5;
        margin-top: 0;
        margin-bottom: 0;
        padding: 15px 10px;
        font-size: 14px;
    }
    .sub-click-active {

    }
    #search_var_tbody tr.active {
        background: #f5f5f5;
    }
    /* 当表格内容超出表格容器时，出现滚动条 */
    .table-container{
        overflow-y: scroll;
    }
    /* 控制表格表头下的th，不进行换行 */
    .table-container table thead tr th{
        white-space: nowrap;
    }
    
</style>

<script type="text/html" id="suspicious_dataSearch">
    <div class="suspicious_pages" id="suspicious_dataSearch">
        <div class="panel panel-lined">
            <div class="panel-body">
                <div class="panel-body" id="searchData">
                    
                </div>
                <div>
                    <!-- 搜索结果表格 -->
                    <div class="table-container">
                    <table class="table table-bordered table-striped">
                        <thead class="thead" id="search_var_thead" ></thead>
                        <tbody id="search_var_tbody"></tbody>
                    </table>
                    </div>
                    <!-- 分页按钮组 -->
                    <div class="page" id="Pagination_wrap">
                        <div class="pager_container" id="Pagination">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div>
                            
                            <h3 class="search-sub-title-txt">{{subLTitle}}</h3>
                            <table class="table table-bordered table-striped">
                                <thead class="thead" id="search_var_thead_sub_l" >

                                </thead>
                                <tbody id="search_var_tbody_sub_l">

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <h3 class="search-sub-title-txt">{{subRTitle}}</h3>
                            <table class="table table-bordered table-striped">
                                <thead class="thead" id="search_var_thead_sub_r" >

                                </thead>
                                <tbody id="search_var_tbody_sub_r">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="dataView" style="width: 100%;"></div>
    </div>
</script>

<script type="text/html" id="search_list">
    {{if list && list.length > 0 }}
    {{each list as value i}}
    {{value.inputType | getInputTypeHtml: value.name, value}}
    {{/each}}
    {{/if}}

  
    <div class="col-md-12">
        <div class="form-group">
            <div style="text-align:center;">
                <span id="searchBtn" class="btn btn-primary fa fa-search" onclick="globalData.getData({})">{{$lg.search}}</span>
                <span id="resetBtn" class="btn btn-warning fa fa-refresh">重置</span>
                <span onclick="globalData.exportExcel()" class="btn btn-success fa fa-download">导出</span>
            </div>
        </div>
    </div>


</script>

<script type="text/html" id="search_var_theadW">
    {{if $thData && $thData.length > 0}}
    <tr>
    {{each $thData as value i}}
        <th >
            {{value}}
        </th>
    {{/each}}
    </tr>
    {{/if}}
</script>

<script type="text/html" id="search_var_tbodyW">
    {{if $tBodyData && $tBodyData.length > 0}}
    {{each $tBodyData as value i}}
    {{if $noClick}}
    <tr>
    {{else if $subShowClick.dtvCode == value. dtvCode}}
    <tr class="sub-click-active">
    {{else}}
    <tr >
    {{/if}}
    
        {{each $thData as searchV i}}
        <td>
            {{value[searchV]}}
        </td>
        {{/each}}
    </tr>
    {{/each}}
    {{else}}
    <tr>
        <td colspan="29" style="text-align: left;">{{1 | noData}}</td>
    </tr>
    {{/if}}
</script>

<script>
    template.helper('getInputTypeHtml', function (inputType, name, value) {
        var result = '';
        if (!value.validFlg) {
            return result;
        }

        result = '<div class="col-md-4"><div class="form-group"><label class="col-md-4 control-label">' + value.chnName + ':</label><div class="col-md-8"><input type="password" style="display:none"/>';
        switch (inputType) {
            case 1:

                if (value.dataType == 2) {
                    result += '<input type="number" name="' + name + '" class="form-control field" autocomplete="off" value="' + value.defaultValue + '" ';
                } else {
                    result += '<input type="text" name="' + name + '" class="form-control field" autocomplete="off" value="' + value.defaultValue + '" ';
                }

                if (value.required) {
                    result += ' required ';
                }

                result += ' />'
            break;

            case 2:
                if (value.dataType == 2) {
                    result += '<input type="number" name="' + name + '" id="' + name + '" class="form-control field"   value="' + value.defaultValue + '" ';
                } else {
                    result += '<input type="text" name="' + name + '" id="' + name + '" class="form-control field"   value="' + value.defaultValue + '" ';
                }

                if (value.required) {
                    result += ' required ';
                }

                result += ' />'
            break;

            case 3:
                result += '<input type="text" readOnly style="background: #fff;" name="' + name + '" id="' + name + '" class="form-control field"   value="' + value.defaultValue + '" ';

                if (value.required) {
                    result += ' required ';
                }

                result += ' />'

                break;
            case 4:
                result += result = '<select class="form-control field" name="' + name + '"';

                if (value.required) {
                    result += ' required ';
                }

                result += ' ></select>'

                break;
            case 5:
                result += '<select class="form-control field" multiple name="' + name + '" ';

                if (value.required) {
                    result += ' required ';
                }

                result += ' ></select>'

                break;
        }

        result += '</div></div></div>';
        return result;
    })

    var globalData = {
        initValue: {
            listData: [],
            dtvCode: '',
            subDtvCode: '',
            dataTrivecndvarsList: [],
            isShowTitle: false,
            searchData: {},
            totalData: [],
            subShowClick: {},

        },

        data: {
            pageNum: 1,
            pageSize: 5
        },

        getDataValue: function (key) {
            if (!key) {
                return '';
            }
            return this.initValue[key][lang.getLang()];
        },
        host: function (obj) {
            return project.host(obj);
        },
        getDatatrivecndvars: function (code, fn) {
            //查询条件变量列表
            var url = '/v1/datatrivecndvars';
            var search = $.zSearchFn({}, '#dataView .field');

            $.zAjax({
                url: globalData.host() + url,
                data: {
                    dtvCode: code ? code : search.dtvCode
                },
                success: function (data) {
                    if (data.code == 0) {
                        globalData.initValue.dataTrivecndvarsList = data;
                        if (fn) {
                            fn(data);
                        } else {
                            data.$lg = $.dataLanguage();
                            //插入筛选条件
                            $('#searchData').html(template('search_list', data));
                            $.dateV("#searchData [name='beginDate']")
                            $.dateV("#searchData [name='dateTime']")

                            $('#searchData [name="beginDate"').val()
                            $('#searchData [name="deteTime"').val()

                            // $('#searchData [name="beginDate"').val($.timeFormat(new Date().getTime(), 'yyyy-MM-dd'))
                            // $('#searchData [name="deteTime"').val($.timeFormat(new Date().getTime(), 'yyyy-MM-dd'))

                            setTimeout(function () {
                                globalData.inDate(data.list);
                            })

                            // 打开页面第一次请求的时候，将isFirst设置成true
                            globalData.getData({ isFirst: true })

                            $('#resetBtn').click((function () {
                                var data = $.zResetFn(globalData.data, '#searchData .field')
                                $('#searchData [name="beginDate"]').val($.timeFormat(new Date().getTime(), 'yyyy-MM-dd'))
                                $('#searchData [name="deteTime"]').val($.timeFormat(new Date().getTime(), 'yyyy-MM-dd'))
                                globalData.getData({})
                            }));
                            globalData.initValue.searchData = data;
                        }
                    } else {
                        layer.msg(data.errMsg)
                    }
                }
            })
        },
        inDate: function (data) {
            //如果有日期筛选，初始化日期
            data.forEach(function (item) {
                if (item.inputType == 3) {
                    laydate.render({
                        elem: '#' + item.name,
                        lang: $.getLayDateLang(),
                    });
                }
            })
        },
        getDtvCode: function (isFirst) {
            //获取变量列表
            var url = '/v1/datatrivesqlsmdlcfg/boc?subDtvCode=sysSearch';
            var pageInfo = {
                pageSize: 0,
                pageNum: 100,
                isFirst: isFirst ? 1 : undefined
            };

            $.zAjax({
                url: globalData.host() + url,
                success: function (data) {
                    if (data.code == 0) {
                        globalData.initValue.dtvCode = data.data.dtvCode;
                        globalData.initValue.subDtvCode = data.data.subDtvCode;

                        globalData.getDatatrivecndvars(data.data.dtvCode);
                    } else {
                        layer.msg(data.errMsg)
                    }
                }
            })
        },
        // 导出 事后系统数据查询结果
        exportExcel: function () {
            // 主体客户号
            var trs_entityid = $("input[name='trs_entityid']").val()
            // 主体客户名称
            var trs_entityname = $("input[name='trs_entityname']").val()
            // 主体客户账号
            var trs_entityac = $("input[name='trs_entityac']").val()
            // 主体客户证件号
            var trs_idnumber = $("input[name='trs_idnumber']").val()
            // 对手客户号
            var trs_beneficiaryid = $("input[name='trs_beneficiaryid']").val()
            // 对手客户名称
            var trs_beneficiaryname = $("input[name='trs_beneficiaryname']").val()
            // 对手账号
            var trs_benfacc = $("input[name='trs_benfacc']").val()
            // 对手证件号
            var trs_data2 = $("input[name='trs_data2']").val()
            // IP地址
            var ip_addr = $("input[name='ip_addr']").val()
            // MAC地址
            var mac_addr = $("input[name='mac_addr']").val()
            // 终端标识
            var device_id = $("input[name='device_id']").val()
            // 非柜台交易方式的设备代码
            var txs_ncounter_devicecode = $("input[name='txs_ncounter_devicecode']").val()

            // 这几个数是否任意一个为空，是则弹窗“查询条件过少”
            if (
                (trs_entityid == null || trs_entityid == "") &&
                (trs_entityname == null || trs_entityname == "") &&
                (trs_entityac == null || trs_entityac == "") &&
                (trs_idnumber == null || trs_idnumber == "") &&
                (trs_beneficiaryid == null || trs_beneficiaryid == "") &&
                (trs_beneficiaryname == null || trs_beneficiaryname == "") &&
                (trs_benfacc == null || trs_benfacc == "") &&
                (trs_data2 == null || trs_data2 == "") &&
                (ip_addr == null || ip_addr == "") &&
                (mac_addr == null || mac_addr == "") &&
                (device_id == null || device_id == "")
            ) {

                layer.alert("查询条件过少，请输入查询条件")
                return
            }

            // 开始日期 和 结束日期
            var beginDate = $("input[name='beginDate']").val()
            var dateTime = $("input[name='dateTime']").val()

            if (beginDate != '' && dateTime != '') {
                if (new Date(dateTime).getTime() - new Date(beginDate).getTime() > 31536000000) {
                    layer.alert("时间跨度超过一年")
                    return
                }
            }

            // 获取查询列表
            var url = '/v1/datatraiveexcutesql/excels?'
            var pageInfo = globalData.data
            var paramArray = []
            var data = {
                paramArray: ""
            }
            $("#searchData .field").each(function (item) {
                var conId = $(this).attr('name')
                var paramVal = $(this).val()
                paramArray.push({conId: conId,paramVal: paramVal});
            })

            for (var i in data) {
                if (!data[i] && data[i] !== 0) {
                    delete data[i]
                }
            }

            data.pageSize = globalData.data.pageSize;
            data.pageNum = globalData.data.pageNum;

            data.dtvCode = globalData.initValue.dtvCode
            data.paramArray = JSON.stringify(paramArray)

            data.pageNum = 1
            data.pageSize = 100000
            /* data.paramArray = eval(""+data.paramArray+""); */

            // var ajaxData = data;

            url = globalData.host() + url

            url = $.builderUrl(url, data)

            /* for (var i in data) {

                if (data[i] && i != 'pageSize' && i != 'pageNum') {
                    url += (i + '=' + data[i] + '&')
                }
            } */
            // debugger
            // alert(url)

            
            
            /** 
            $('iframe').attr('src',url);
            setTimeout(function(){
                $('iframe').remove()
            },20000); */
            

            // url = eval(""+url+"")
            // alert(url)
            
            // window.location.href = url
            // debugger
            var req = new XMLHttpRequest()

            var index = layer.load(3, {shade: .1})
            req.open('GET', url, true)

            req.onprogress = function (e) {
                /*


                */
                if (e.target.response.size == e.loaded) {
                    layer.close(index)
                }
            }

            req.responseType = "blob"
            req.setRequestHeader("Content-Type", "application/json")
            req.onload = function () {
                var data = req.response
                var blob = new Blob([data])
                var blobUrl = window.URL.createObjectURL(blob)

                var tempElement = document.createElement('a')
                tempElement.style.display = "none"
                tempElement.download = "事后系统数据导出.xls"
                tempElement.href = blobUrl
                tempElement.click()
                tempElement = null
                window.URL.revokeObjectURL(blobUrl)
            }
            req.send("")
            setTimeout(function () {
                layer.close(index)
            }, 2000);

        },

        // 点击查询按钮，查询方法
        getData: function (par) {
            par = par || {}
            // 是否是第一次请求
            if (!par.isFirst) {
                // 主体客户号
                var trs_entityid = $("input[name='trs_entityid']").val()
                // 主体客户名称
                var trs_entityname = $("input[name='trs_entityname']").val()
                // 主体客户账号
                var trs_entityac = $("input[name='trs_entityac']").val()
                // 主体客户证件号
                var trs_idnumber = $("input[name='trs_idnumber']").val()
                // 对手客户号
                var trs_beneficiaryid = $("input[name='trs_beneficiaryid']").val()
                // 对手客户名称
                var trs_beneficiaryname = $("input[name='trs_beneficiaryname']").val()
                // 对手账号
                var trs_benfacc = $("input[name='trs_benfacc']").val()
                // 对手证件号
                var trs_data2 = $("input[name='trs_data2']").val()
                // IP地址
                var ip_addr = $("input[name='ip_addr']").val()
                // MAC地址
                var mac_addr = $("input[name='mac_addr']").val()
                // 终端标识
                var device_id = $("input[name='device_id']").val()
                // 非柜台交易方式的设备代码
                var txs_ncounter_devicecode = $("input[name='txs_ncounter_devicecode']").val()

                // 这几个数是否任意一个为空，是则弹窗“查询条件过少”
                if (
                    (trs_entityid == null || trs_entityid == "") &&
                    (trs_entityname == null || trs_entityname == "") &&
                    (trs_entityac == null || trs_entityac == "") &&
                    (trs_idnumber == null || trs_idnumber == "") &&
                    (trs_beneficiaryid == null || trs_beneficiaryid == "") &&
                    (trs_beneficiaryname == null || trs_beneficiaryname == "") &&
                    (trs_benfacc == null || trs_benfacc == "") &&
                    (trs_data2 == null || trs_data2 == "") &&
                    (ip_addr == null || ip_addr == "") &&
                    (mac_addr == null || mac_addr == "") &&
                    (device_id == null || device_id == "")
                ) {

                    layer.alert("查询条件过少，请输入查询条件")
                    return
                }
            }

                // 开始日期 和 结束日期
                var beginDate = $("input[name='beginDate']").val()
                var dateTime = $("input[name='dateTime']").val()

                if (beginDate != '' && dateTime != '') {
                if (new Date(dateTime).getTime() - new Date(beginDate).getTime() > 31536000000) {
                    layer.alert("时间跨度超过一年")
                    return
                }
            }
            

            //获取查询列表
            var url = '/v1/datatraiveexcutesql';
            var pageInfo = globalData.data;
            var paramArray = [];
            var data = {
                paramArray: ''
            };

            $("#searchData .field").each(function (item) {
                var conId = $(this).attr('name');
                var paramVal = $(this).val();

                paramArray.push({ conId: conId, paramVal: paramVal });
            })
            for (var i in data) {
                if (!data[i] && data[i] !== 0) {
                    delete data[i];
                }
            }

            data.pageSize = globalData.data.pageSize;
            data.pageNum = globalData.data.pageNum;

            data.dtvCode = globalData.initValue.dtvCode;

            // 给paramArray添加一项isFirst
            let isFirstValue = par.isFirst ? 1 : ""
            let isFirst = { "conId": "isFirst", "paramVal": isFirstValue }
            let afterAddIsFirst = JSON.parse(JSON.stringify(paramArray))
            afterAddIsFirst.push(isFirst)
            data.paramArray = JSON.stringify(afterAddIsFirst)

            var ajaxData = data;
            $.zAjax({
                url: globalData.host() + url,
                data: ajaxData,
                success: function (data) {
                    if (data.code == 0) {
                        var total = data.data.pageInfo && data.data.pageInfo[0].record;
                        var thData, tBodyData;

                        thData = data.data.chineseColumNameList[0];
                        tBodyData = data.data.resultList[0];
                        data.$lg = $.dataLanguage();
                        data.$searchData = globalData.initValue.searchData;
                        data.$thData = thData;
                        data.$tBodyData = tBodyData;
                        data.$noClick = false;
                        data.$subShowClick = globalData.initValue.subShowClick;
                        globalData.initValue.totalData = data.data.resultList;
                        //生成表头
                        $('#search_var_thead').html(template('search_var_theadW', data));
                        $('#search_var_tbody').html(template('search_var_tbodyW', data));

                        $(".search-sub-title-txt").hide();
                        //生成表头
                        $('#search_var_thead_sub_l').html('');
                        $('#search_var_tbody_sub_l').html('');

                        $('#search_var_thead_sub_r').html('');
                        $('#search_var_tbody_sub_r').html('');
                        // $.btnPermissions();//生成表格按钮

                        if (!data.data.pageInfo) {
                            return;
                        }

                        $.zPageMethod2({
                            page: '#Pagination',
                            url: globalData.host() + url,
                            tp: 'search_var_tbodyW',
                            ele: "#search_var_tbody",
                            total: total,
                            data: ajaxData,
                            list: data,
                            success: function (res) {
                                if (res.code == 0) {
                                    var thData, tBodyData, data = res;

                                    thData = res.data.chineseColumNameList[0];
                                    tBodyData = res.data.resultList[0];
                                    data.$lg = $.dataLanguage();
                                    data.$searchData = globalData.initValue.searchData;
                                    data.$thData = thData;
                                    data.$tBodyData = tBodyData;
                                    data.$noClick = false;
                                    data.$subShowClick = globalData.initValue.subShowClick;
                                    globalData.initValue.totalData = res.data.resultList;

                                    $('#search_var_thead').html(template('search_var_theadW', data));
                                    $('#search_var_tbody').html(template('search_var_tbodyW', data));
                                } else {
                                    layer.msg(res.errMsg);
                                }

                            }
                        });
                    } else {
                        layer.msg(data.errMsg)
                    }
                }
            })
        },
        getSubData: function (n) {
            var clickItem = globalData.initValue.totalData[0][n];

            var url = '/v1/datatraiveexcutesql';
            var pageInfo = globalData.data;
            var paramArray = [];
            var data = {
                paramArray: ''
            };

            $("#search_var_tbody tr").eq(n).addClass('active').siblings('tr').removeClass('active');
            var clickItem = $("#search_var_tbody tr").eq(n).find('td');

            globalData.initValue.subShowClick = globalData.initValue.totalData[0][n];

            paramArray.push({
                conId: 'eydt',
                paramVal: $.trim(clickItem.eq(0).html())
            }, {
                conId: 'opp_cust_id',
                paramVal: $.trim(clickItem.eq(6).html())
            })

            for (var i in data) {
                if (!data[i] && data[i] !== 0) {
                    delete data[i];
                }
            }

            data.dtvCode = globalData.initValue.subDtvCode;
            data.paramArray = JSON.stringify(paramArray);

            $.zAjax({
                url: globalData.host() + url,
                data: data,
                success: function (data) {
                    if (data.code == 0) {
                        // var total = data.pageInfo && data.pageInfo.total;
                        var thData_l, tBodyData_l, thData_r, tBodyData_r, data_l, data_r, data;

                        thData_l = data.data.chineseColumNameList[0];
                        thData_r = data.data.chineseColumNameList[1];
                        tBodyData_l = data.data.resultList[0];
                        tBodyData_r = data.data.resultList[1];
                        data.$lg = $.dataLanguage();
                        data.$searchData = globalData.initValue.searchData;
                        data.$noClick = true;
                        data_l = $.extend({}, data);
                        data_r = $.extend({}, data);
                        data_l.$thData = thData_l;
                        data_l.$tBodyData = tBodyData_l;
                        data_r.$thData = thData_r;
                        data_r.$tBodyData = tBodyData_r;
                        $(".search-sub-title-txt").show();
                        //生成表头
                        $('#search_var_thead_sub_l').html(template('search_var_theadW', data_l));
                        $('#search_var_tbody_sub_l').html(template('search_var_tbodyW', data_l));

                        $('#search_var_thead_sub_r').html(template('search_var_theadW', data_r));
                        $('#search_var_tbody_sub_r').html(template('search_var_tbodyW', data_r));
                        // $.btnPermissions();//生成表格按钮
                        // $.zPageMethod({
                        //     page:'#Pagination',
                        //     url: globalData.host() + url,
                        //     tp:'search_var_tbodyW',
                        //     ele: "#search_var_tbody",
                        //     total:total,
                        //     data:searchData ? searchData:data,
                        //     list:data,
                        //     success: function(res){ 
                        //         res.$searchData = globalData.initValue.searchData;              
                        //         $('#search_var_tbody').html(template('search_var_tbodyW', res));
                        //     }
                        // });
                    } else {
                        layer.msg(data.errMsg)
                    }
                }
            })
        },
        getDtvCodeItem: function (dtvCode) {
            var result = '';
            globalData.initValue.listData.forEach(function (item) {
                if (item.dtvCode == dtvCode) {
                    result = item;
                }
            })

            return result;
        },
        init: function () {
            this.getDtvCode(1);
            $('#main').prepend(template('suspicious_dataSearch', $.dataLanguage()));

            $(".search-sub-title-txt").hide();
            $.zCompositeData(common_params['suspicious']['status'], '#searchData [name = "dtvValidFlg"]', true);
        }


    };

    $(document).ready(function () {
        globalData.init();
    })
</script>