<!--风险量化查证-->

<script type="text/html" id="suspicious_riskQuantification">
<div class="suspicious_pages">
    <div class="panel panel-lined">
        <div class="panel-header panel-header-suspicious"><i class="fa fa-user"></i><span>{{riskQuantification}}</span></div>
        <div class="panel-body" id="suspicious_riskQuantification_listW">

        </div>
    </div>
    <div class="panel panel-lined suspicious_featuresList">
        <div class="panel-header panel-header-suspicious"><i class="fa fa-user"></i><span>{{characteristics}}</span><span class="suspicious_checkBoxF"><span class="zCBox zCheckAll zC-sm"></span><span>{{checkAll}}</span></span></div>
        <div class="panel-body" id="suspicious_checkHandle_featuresW">

        </div>
    </div>

    <!--初筛交易列表-->
    <div class="panel panel-lined mb30">
        <div class="panel-header panel-header-suspicious"><i class="fa fa-user"></i>{{transList}}</div>
        <div class="panel-body" id="searchData">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="col-md-4 control-label">{{beginDate}}</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control field" id="beginDate" placeholder={{beginDate}} name="beginDate" value=""/>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="col-md-4 control-label">{{endDate}}</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control field" id="endDate" name="endDate" placeholder="{{endDate}}" value=""/>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="col-md-4 control-label">{{status}}</label>
                    <div class="col-md-8">
                        <select name="report" class="form-control field" id="transListStatus">

                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="col-md-12">
                        <div style="width:185px;">
                            <span id="searchBtn" class="btn btn-primary pull-left fa fa-search" onclick="globalData.searchFn()">{{search}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-bordered table-striped zCheckBox">
                <thead class="thead">
                <tr>
                    <th>{{findDate}}</th>
                    <th>{{susNum}}</th>
                    <th>{{customerName}}</th>
                    <th>{{customerNum}}</th>
                    <th>{{customerType}}</th>
                    <th>{{affiliate}}</th>
                    <th>{{doubtfulDegree}}</th>
                    <th>{{transactionTimes}}</th>
                    <th>{{opponentNum}}</th>
                    <th>{{listStatus}}</th>
                    <th>{{majorCase}}</th>
                    <th>{{operation}}</th>
                </tr>
                </thead>
                <tbody id="suspicious_transviewTbody">
                <tr>
                    <td colspan="20" style="text-align: center;">{{loading}}</td>
                </tr>
                </tbody>
            </table>
            <!-- #end data table -->
            <!-- 分页 -->
            <div class="page">
                <div class="pager_container" id="Pagination">
                </div>
            </div>

            <div class="col-md-12 center">
                <span class="btn btn-primary" onclick="globalData.distributeTask()">{{distributeTask}}</span>
            </div>
        </div>
    </div>
</div>
</script>

<script type="text/html" id="suspicious_riskQuantification_list">
    <table class="table border-top-none suspicious_result_consAy">
        <tbody>
            <tr>
                <td>{{dataLanguage.timeInternal}}</td><td>{{timeInternal}}</td><td>{{dataLanguage.beforeCustomerCount}}</td>
                <td>{{beforeCustomerCount}}</td><td>{{dataLanguage.afterCustomerCount}}</td><td>{{afterCustomerCount}}</td>
            </tr>
            <tr>
                <td>{{dataLanguage.sumAmount}}</td><td>{{sumAmount}}</td><td>{{dataLanguage.trxCount}}</td>
                <td>{{trxCount}}</td><td>{{dataLanguage.susTypeCount}}</td><td>{{susTypeCount}}</td>
            </tr>
            <tr><td>{{dataLanguage.totalCount}}</td><td>{{totalCount}}</td><td>{{dataLanguage.bankName}}</td><td>{{bankname}}</td><td>{{dataLanguage.deptName}}</td><td>{{deptname}}</td></tr>

        </tbody>
    </table>
</script>

<!-- 模板引擎动态生成表格数据 -->
<script id="suspicious_transviewTable" type="text/html">
    {{if list && list.length > 0 }}
    {{each list as value i}}
    <tr _id="{{value.id}}">
        <td>{{value.sdate}}</td>
        <td>{{value.susNum}}</td>
        <td>{{value.custNm}}</td>
        <td>{{value.custId}}</td>
        <td>{{value.custType}}</td>
        <td>{{value.bankName}}</td>
        <td>{{value.susRate}}</td>
        <td>{{value.trxCount}}</td>
        <td>{{value.trxOppCount}}</td>
        <td>{{value.isReport | getParamsStatus :'suspiciousTransList'}}</td>
        <td>{{value.isSerious | getParamsStatus :'isStatus'}}</td>
        <td style="min-width: 100px;">
            <span class="btn btn-sm btn-warning detailBtn fa fa-edit hoverBtn" name='详情' btnType='list' onclick="globalData.listBtnFn('{{value.custId}}')"></span>
        </td>
    </tr>
    {{/each}}
    {{else}}
    <tr>
        <td colspan="17" style="text-align: center;">{{1 | noData}}</td>
    </tr>
    {{/if}}
</script>

<!--可疑特征-->
<script type="text/html" id="suspicious_checkHandle_features">
    <ul>
        {{each data as value i}}
        <li class="col-md-2 col-sm-3 col-xs-4 mg-tb-5 suspicious_checkBoxF" _index="{{value.index}}">
            {{if value.checked}}
            <span class="zCheck zCBox zC-sm"></span><b>{{value.name}}</b>
            {{else}}
            <span class="zCBox zC-sm"></span>{{value.name}}
            {{/if}}
        </li>
        {{/each}}
    </ul>
</script>


<script>

    var globalData = {
        initValue: {
            userId: JSON.parse(sessionStorage.getItem('data')).user.userId,
        },
        // 全局请求参数
        data:{
            pageNum: 1,
            pageSize: 10
        },
        host: function(){
            var url = '',
                common = project.suspicious_project;

            url += common.ip + ':' +common.port + common.projectName;

            return url;
        },

        // 风险量化查证
        getRiskQuData: function(data){


            var url = '/v1/screenLists/brainSummary';

            $.zAjax({
                url:  this.host() + url,
                type: 'get' ,
                data: {
                    // userid: JSON.parse(sessionStorage.getItem('data')).user.userId,
                    userid: JSON.parse(sessionStorage.getItem('data')).user.userId,
                    report: '-1'
                },
                headers: project.suspicious_project.header,
                success: function(res){
                    res.dataLanguage = $.dataLanguage();

                    $('#suspicious_riskQuantification_listW').html(template('suspicious_riskQuantification_list', res));
                }
            });

        },

        // 可疑特征
        getFeatureListData: function(){
            var url = '/v1/features';

            $.zAjax({
                url: this.host() + url,
                headers: project.suspicious_project.header,
                success: function(data){

                    // var featureArr = globalData.initValue.pageData.susFeatures.split('$^$');
                    //
                    // for (var i=0; i<featureArr.length-1; i++) {
                    //     data.data[i].checked = 1;
                    // }

                    $('#suspicious_checkHandle_featuresW').html(template('suspicious_checkHandle_features', data));
                }
            });


        },

        //獲取交易列表表格數據
        getData: function(pageData){

            $.zCompositeData(common_params['rbac']['suspiciousTransList'],'#searchData [name = "report"]',false);

            var url = this.host() + '/v1/screenLists/qtyData';

            pageData = pageData || globalData.data ;

            var feature = this.getFeatureData('#suspicious_checkHandle_featuresW');

            pageData.feature = feature.join(',');

            $.zAjax({
                url: url,
                headers: project.suspicious_project.header,
                data: pageData,
                isString: false,
                success: function(data){
                    var res = {
                        list: data.list,
                        pageInfo: {
                            pageSize: data.pageSize,
                            pageNum: data.pageNum,
                            total: data.total
                        }
                    };
                    var total = data.total;
                    globalData.initValue.transListData = data;
                    $.zPageMethod({
                        headers: project.suspicious_project.header,
                        page:'#Pagination',
                        url: url ,
                        tp:'suspicious_transviewTable',
                        ele:'#suspicious_transviewTbody',
                        total:total,
                        data:pageData,
                        list:res,
                        success: function(data){
                            globalData.initValue.transListData = data;
                        }
                    });
                }
            });

        },
        //筛选
        searchFn: function(){

            var data=$.zSearchFn({},'#searchData .field');

            data = $.extend(data, {userid: globalData.initValue.userId});
            globalData.getRiskQuData(data);

            data = $.extend(globalData.data, data);

            globalData.getData(data);

        },
        //未分配任务手动分发
        distributeTask: function(){
            layer.closeAll();
            window.location.hash = '/suspicious/screening/workDistribute';
        },
        //查看
        listBtnFn: function(custId){
            var postData,
                item = '',
                listData = globalData.initValue.transListData.list,
                postObj = {},
                url = '';

            for(var i = 0; i < listData.length ; i++){
                if(listData[i].custId == custId){
                    postObj = listData[i];
                    break;
                }
            }

            url = $.builderUrl('#/suspicious/screening/result', postObj);

            //跳转
            layer.closeAll();
            window.location.hash = url;

        },
        init: function(){
            var startLayDate, endLayDate;
            // 调用日期插件
            startLayDate = laydate.render({
                elem: '#beginDate',
                lang:$.getLayDateLang(),
                done: function(value, date, endDate){
                    endLayDate.config.min = {
                        year: date.year,
                        month: date.month - 1,
                        date: date.date,
                    }
                }
            });
            endLayDate = laydate.render({
                elem: '#endDate',
                lang:$.getLayDateLang(),
                done: function(value, date, endDate){
                    startLayDate.config.max = {
                        year: date.year,
                        month: date.month - 1,
                        date: date.date,
                    }
                }
            });

            $("#main").prepend(template('suspicious_riskQuantification', $.dataLanguage()));

            this.getFeatureListData();
            this.getRiskQuData();
            this.getData();
            this.event();
        },

        event: function(){
            //全选，事件
            this.checkBox(".suspicious_featuresList", ".suspicious_checkBoxF");
        },
        getFeatureData: function(ele){
            var data = [],
                index = '';
            $(ele).find('.zCheck.zCBox').each(function(){
                index = $(this).closest("li[_index]").attr('_index');
                data.push(index);
            });

            return data;
        },
        checkBox: function(wrapElement, ele){

            $(wrapElement).on('click',ele,function(){
                var isCheckAll = false,
                    checkedNum = 0,//已经勾选
                    total = 0;//总共

                if($(this).find('.zCBox').length > 0){
                    $(this).find('.zCBox').toggleClass('zCheck');
                }


                if($(this).find('.zCBox').hasClass('zCheckAll')){
                    if($(this).find('.zCBox').hasClass('zCheck')) isCheckAll = true;
                    $(wrapElement).find(ele).each(function(){
                        if(isCheckAll){
                            $(this).find('.zCBox').removeClass('zCheck').addClass('zCheck');
                        }else{
                            $(this).find('.zCBox').removeClass('zCheck');
                        }
                    })
                }else if(!$(this).find('.zCBox').hasClass('zCheckAll')){

                }

                total = $(wrapElement).find('.zCBox').not('.zCheckAll').length;

                checkedNum = $(wrapElement).find('.zCBox.zCheck').not('.zCheckAll').length;

                if(total == checkedNum){
                    $(wrapElement).find(".zCBox.zCheckAll").removeClass('zCheck').addClass('zCheck');
                }else{
                    $(wrapElement).find(".zCBox.zCheckAll").removeClass('zCheck');
                }

                globalData.searchFn();
            });
        }

    };

    $(document).ready(function(){
        globalData.init();
    })
</script>